@page
@model WebAdmin.Pages.Artist.DeleteModel
@{
}
<h1>Delete</h1>

<h3>Bạn chắc chắn xóa thông tin?</h3>
<div class="delete">
    @if (Model.Artist.Status.Equals("INACTIVE") || Model.Artist.Status.Equals("Vô Hiệu Hóa"))
    {
        <div style="text-align: center;">
            <span>Tác Giả Đã Bị Vô Hiệu Hóa</span>
        </div>
    }
    else{
    <h3>Bạn chắc chắn xóa thông tin?</h3>
    <hr />
    <dl class="row">
        <dt class="col-md-4 col-12">
            Tên  Tác Giả
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Artist.ArtistName)
        </dd>
        <dt class="col-md-4 col-12">
            Hình Ảnh
        </dt>
        <dd class="col-md-8 col-12">
            <img class="details-img" src="@Html.DisplayFor(model => model.Artist.Image)" alt="N/A" />
        </dd>
    </dl>

    <form method="post" asp-page="./Delete" asp-route-id="@Model.Artist.ArtistId">
        <input type="hidden" asp-for="Artist.ArtistId" />
        <div class="form-group">
            <input type="submit" value="Xóa" class="btn btn-primary" />
        </div>
    </form>
    }
</div>
