@page
@model WebAdmin.Pages.Artist.DeleteModel
@{
}
<h1>Delete</h1>

<h3>Bạn chắc chắn xóa thông tin?</h3>
<div>
    <h4>Artist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên  Tác Giả
            @* @Html.DisplayNameFor(model => model.Artist.ArtistName) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.ArtistName)
        </dd>
        <dt class="col-sm-2">
            Hình Ảnh
            @* @Html.DisplayNameFor(model => model.Artist.Image) *@
        </dt>
        <dd class="col-sm-10">
            <img class="@Html.DisplayFor(model => model.Artist.Image)" alt="N/A"/>
            
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Artist.ArtistId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-page="./Index">Trờ Về Danh Sách</a>
    </form>
</div>
