@page
@model WebAdmin.Pages.Artist.DetailsModel
@{
}

<div class="details">
    @* <h1 style="text-align: center;"><partial style="font-family: 'Dancing Script', cursive; color: #c2444d;">@Html.DisplayFor(model => model.Artist.ArtistName)</partial></h1> *@
    <hr />
    <dl class="row">
        <dt class="col-md-4 col-12">
            Tên Tác Giả
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Artist.ArtistName)
        </dd>
        <dt class="col-md-4 col-12">
            Hình Ảnh
        </dt>
        <dd class="col-md-8 col-12">
            <img class="details-img" src="@Html.DisplayFor(model => model.Artist.Image)" alt="N/A" />
        </dd>
    </dl>
</div> 

