@page
@model WebAdmin.Pages.Artist.EditModel
@{
}
<h1>Edit</h1>

<h4>Artist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-page="./Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Artist.ArtistId" />
            <!-- Existing Image URL (hidden) -->
            <input type="hidden" asp-for="Artist.Image" />
            <div class="form-group">
                <label asp-for="UpdateArtist.ArtistName" class="control-label">Tên Tác Giả</label>
                <input asp-for="UpdateArtist.ArtistName" class="form-control" />
                <span asp-validation-for="UpdateArtist.ArtistName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdateArtist.Image" class="control-label">Hình Ảnh</label>
                <input type="file" name="file" class="form-control" />
                <span asp-validation-for="UpdateArtist.Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Cập Nhật" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
