@page
@model WebAdmin.Pages.Genre.DetailsModel
@{
}

<div class="details">
    <hr />
    <dl class="row">
        <dt class="col-md-4 col-12">
            Tên Thể Loại
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Genre.GenreName)
        </dd>
        <dt class="col-md-4 col-12">
            Hình Ảnh
        </dt>
        <dd class="col-md-8 col-12">
            <img class="details-img" src="@Html.DisplayFor(model => model.Genre.Image)" alt="N/A" />
        </dd>       
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Genre?.GenreId">Chỉnh Sửa</a> |
    <a asp-page="./Index">Back to List</a>
</div>
