@page
@model WebAdmin.Pages.Song.CreateModel

@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Form List</title>
    <style>

        .remove-btn {
            background-color: red;
            color: white;
            border: none;
            padding: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Create</h1>

    <h4>Song</h4>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <div class="form-container">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Song.SongName" class="control-label"></label>
                        <input asp-for="Song.SongName" class="form-control" />
                        <span asp-validation-for="Song.SongName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Song.SongDescription" class="control-label"></label>
                        <input asp-for="Song.SongDescription" class="form-control" />
                        <span asp-validation-for="Song.SongDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Song.SongUrl" class="control-label"></label>
                        <input asp-for="Song.SongUrl" class="form-control" />
                        <span asp-validation-for="Song.SongUrl" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Song.PublicDate" class="control-label"></label>
                        <input asp-for="Song.PublicDate" class="form-control" />
                        <span asp-validation-for="Song.PublicDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Song.Price" class="control-label"></label>
                        <input asp-for="Song.Price" class="form-control" />
                        <span asp-validation-for="Song.Price" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label>Creator</label>
                        <input class="form-control" type="text" id="searchBox" placeholder="Search Tên nghệ sĩ" onkeyup="liveSearchArtist()" />
                    </div>
                    

                    <div class="form-group">
                        <div id="singerList">
                            @for (int i = 0; i < Model.Song.SongSingers.Count; i++)
                            {
                                <div class="form-container">
                                    <label asp-for="Song.SongSingers.ElementAt(i).SingerId">Singer ID:</label>
                                    <input type="text" asp-for="Song.SongSingers.ElementAt(i).SingerId" required />
                                    <button type="button" class="remove-btn" onclick="removeSinger(this)">Remove</button>
                                </div>
                            }

                        </div>
                        <button type="button" id="addSingerButton">Add Singer</button>

                    </div>
                    <div class="form-group">
                        <div id="genreList">
                            @for (int i = 0; i < Model.Song.SongGenres.Count; i++)
                            {
                                <div class="form-container">
                                    <label asp-for="Song.SongGenres.ElementAt(i).GenreId">Genre ID:</label>
                                    <input type="text" asp-for="Song.SongGenres.ElementAt(i).GenreId" required />
                                    <button type="button" class="remove-btn" onclick="removeGenre(this)">Remove</button>
                                </div>
                            }

                        </div>
                        <button type="button" id="addGenreButton">Add Genre</button>

                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="col-md-3">
        <div id="searchArtistResults" class="search-results"></div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>

    <script>
        async function liveSearchArtistArtist() {
            const query = document.getElementById('searchBox').value;
            if (query.length < 1) {
                document.getElementById('searchArtistResults').innerHTML = '';
                return;
            }
            const response = await fetch('./Create?handler=SearchAritst&query=' + query);

            const data = await response.text();
            document.getElementById('searchArtistResults').innerHTML = data;
        }
    </script>

</body>
</html>
