@using WebAdmin.DTOModels.Request.Song
@model WebAdmin.Pages.Song.CreateModel

@if (Model.SearchArtistResults != null && Model.SearchArtistResults.Count > 0)
{
    <div id="artistSelect" class="img-cell">
        <form asp-page-handler="AddArtist" method="post">
            @foreach (var result in Model.SearchArtistResults)
            {

                <input asp-for="SelectedArtistId" value="@result.ArtistId" type="hidden" />
                <p>@result.ArtistName</p>
                <img src="@result.Image" alt="N/A" />
                @if (!CreateSongRequestModel.SongArtists.Any(a => a.ArtistId == result.ArtistId))
                {
                    <input value="Thêm tác giả" type="submit" name="submit" class="btn btn-danger" />
                }
                else
                {
                    <input value="Bỏ chọn" type="submit" name="submit" class="btn btn-danger" />
                }
            }
        </form>

    </div>


    <ul id="selectedArtists">
        <!-- List of selected artists -->
    </ul>

}
else
{
    <p>No results found.</p>
}
