@model WebAdmin.Pages.Song.CreateModel

@if (Model.SearchArtistResults != null && Model.SearchArtistResults.Count > 0)
{
    @foreach (var result in Model.SearchArtistResults)
    {
        <div class="div-cell">
            <input asp-for="Artist.ArtistId" value="@result.ArtistId" hidden />
            <p>@result.ArtistName</p>
            <p>@result.Image</p>
            <p><img src="@result.Image" alt="N/A" /></p>
        </div>
    }

}
else
{
    <p>No results found.</p>
}


<script>
    async function liveSearchArtistArtist() {
        const query = document.getElementById('searchBox').value;
        if (query.length < 1) {
            document.getElementById('addListArtist').innerHTML = '';
            return;
        }
        const response = await fetch('./Create?handler=AddListAritst&query=' + query);

        const data = await response.text();
        document.getElementById('searchArtistResults').innerHTML = data;
    }
</script>