@page
@model WebAdmin.Pages.Package.CreateModel
@{
}

<h1>Create</h1>

<h4>Package</h4>
<hr />
<div class="row">

    <div class="col-md-9">
        <div class="form-container">
            <form id="createForm" method="post" asp-page="./Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Package.PackageName" class="control-label"></label>
                    <input asp-for="Package.PackageName" class="form-control" required />
                    <span asp-validation-for="Package.PackageName" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Package.Description" class="control-label"></label>
                    <input asp-for="Package.Description" class="form-control" />
                    <span asp-validation-for="Package.Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Package.MoneyAmount" class="control-label"></label>
                    <input asp-for="Package.MoneyAmount" class="form-control" />
                    <span asp-validation-for="Package.MoneyAmount" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Package.StarNumber" class="control-label"></label>
                    <input asp-for="Package.StarNumber" class="form-control" />
                    <span asp-validation-for="Package.StarNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
