@page
@model WebAdmin.Pages.Report.Ban.AccountModel
@{
}
<div class="ban-account">
@*     @if (Model.data.result.HasValue)
    { *@
@*         if (Model.data.result.Value == true)
        { *@
            <div>
                <p>@Model?.data?.Value?.UserName</p>
                <img src="@Model?.data?.Value?.Image" alt="N/A" style="width:50%"/>
                <p>@Model?.data?.Value?.Email</p>
            </div>
        @* } *@
    @* } *@

</div>