@page
@model WebAdmin.Pages.Account.CreateModel
@{
}
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label @* asp-for="Account.UserName"  *@class="control-label">Tên Tài Khoản</label>
                <input asp-for="Account.UserName" type="text" placeholder="Username" required class="form-control" />
                <span asp-validation-for="Account.UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Account.Email" class="control-label"></label>
                <input asp-for="Account.Email" type="email" placeholder="Email" required class="form-control" />
                <span asp-validation-for="Account.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @* asp-for="Account.Password" *@ class="control-label">Mật Khẩu</label>
                <input asp-for="Account.Password" type="password" placeholder="Password" required class="form-control" />
                <span asp-validation-for="Account.Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label @* asp-for="Account.Fullname" *@ class="control-label">Họ Tên</label>
                <input asp-for="Account.Fullname" type="Fullname" placeholder="Fullname" class="form-control" />
                <span asp-validation-for="Account.Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @* asp-for="Account.Gender" *@ class="control-label">Giới Tính</label>
                <select asp-for="Account.Gender" class="form-control">
                    <option value="MALE" selected>Nam</option>
                    <option value="FEMALE">Nữ</option>
                    <option value="OTHERS">Khác</option>
                </select>
                <span asp-validation-for="Account.Gender" class="text-danger"></span>
            </div>

            <input asp-for="Account.Role" value="STAFF" type="hidden" />
            <div class="form-group">
                <label@*  asp-for="Account.UpBalance" *@ class="control-label">Tài Khoản (UP)</label>
                <input asp-for="Account.UpBalance" type="number" required class="form-control" />
                <span asp-validation-for="Account.UpBalance" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label @* asp-for="Account.Yob"  *@class="control-label">Năm Sinh</label>
                <input asp-for="Account.Yob" type="number" class="form-control" />
                <span asp-validation-for="Account.Yob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label@*  asp-for="Account.IdentityCardNumber" *@ class="control-label">Số Định Danh</label>
                <input asp-for="Account.IdentityCardNumber" type="number" class="form-control" />
                <span asp-validation-for="Account.IdentityCardNumber" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label @* asp-for="Account.PhoneNumber" *@ class="control-label">Số Điện Thoại</label>
                <input asp-for="Account.PhoneNumber" type="number" class="form-control" />
                <span asp-validation-for="Account.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @* asp-for="Account.AccountStatus" *@ class="control-label">Trạng Thái</label>
                <select asp-for="Account.AccountStatus" class="form-control" required>
                    <option value="NOT_VERIFY">Chưa xác thực</option>
                    <option value="ACTIVE">Hoạt động</option>
                    <option value="INACTIVE">Không hoạt động</option>
                </select>
                <span asp-validation-for="Account.AccountStatus" class="text-danger"></span>
            </div>
            <div>
                <div class="form-group">
                    <input type="file" name="file" class="form-control" />
                </div>
                <div id="result">
                    @if (ViewBag.ImageUrl != null)
                    {
                        <p>Upload successful!</p>
                        <img src="@ViewBag.ImageUrl" alt="Uploaded Image" width="200" />
                        <p>Image URL: <a href="@ViewBag.ImageUrl" target="_blank">@ViewBag.ImageUrl</a></p>
                    }
                </div>
                <div class="form-group">
                    <button asp-page-handler="Create" type="submit" class="form-control-sm btn-outline-primary">Submit</button>
                </div>
        </form>
    </div>
</div>

