@page
@model WebAdmin.Pages.Singer.DeleteModel
@{
}
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div class="delete">
    @if (Model.Singer.Status.Equals("INACTIVE") || Model.Singer.Status.Equals("Vô Hiệu Hóa"))
    {
        <div style="text-align: center;">
            <span>Ca Sĩ Đã Bị Vô Hiệu Hóa</span>
        </div>
    }
    else{
    <h3>Bạn chắc chắn xóa thông tin?</h3>
    <hr />
    <dl class="row">
        <dt class="col-md-4 col-12">
            Tên Ca Sĩ
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Singer.SingerName)
        </dd>
        <dt class="col-md-4 col-12">
            Hình Ảnh
        </dt>
        <dd class="col-md-8 col-12">
            <img class="details-img" src="@Html.DisplayFor(model => model.Singer.Image)" alt="N/A" />
        </dd>
    </dl>

    <form method="post" asp-page="./Delete" asp-route-id="@Model.Singer.SingerId">
        <input type="hidden" asp-for="Singer.SingerId" />
        <div class="form-group">
            <input type="submit" value="Xóa" class="btn btn-primary" />
        </div>
    </form>
    }
</div>
