@page
@model WebAdmin.Pages.Singer.DetailsModel
@{
}

<div class="details">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Singer.SingerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Singer.SingerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Singer.Image)
        </dt>
        <dd class="col-sm-10">
            <img class="details-img" src="@Html.DisplayFor(model => model.Singer.Image)"  alt="N/A"/>
            
        </dd>
    </dl>
</div>

