@page
@model WebAdmin.Pages.Singer.DetailsModel
@{
}

<div class="details">
    <hr />
    <dl class="row">
        <dt class="col-md-4 col-12">
            Tên Ca Sĩ
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Singer.SingerName)
        </dd>
        <dt class="col-md-4 col-12">
            Hình Ảnh
        </dt>
        <dd class="col-md-8 col-12">
            <img class="details-img" src="@Html.DisplayFor(model => model.Singer.Image)"  alt="N/A"/>
            
        </dd>
    </dl>
</div>

