@page
@model WebAdmin.Pages.Singer.EditModel
@{
}
<h1>Edit</h1>

<h4>Singer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-page="./Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UpdateSinger.SingerName" class="control-label"></label>
                <input asp-for="UpdateSinger.SingerName" class="form-control" />
                <span asp-validation-for="UpdateSinger.SingerName" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="UpdateSinger.Image" class="control-label"></label>
                <input asp-for="UpdateSinger.Image" class="form-control" />
                <span asp-validation-for="UpdateSinger.Image" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <label asp-for="UpdateSinger.Image" class="control-label"></label>

                <input type="file" name="file" class="form-control" />
            </div>

            <input type="hidden" asp-for="Singer.SingerId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
